<h1>Clients List</h1>

{{#if clients_exist}}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Ocuppation</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each clients}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.age}}</td>
            <td>{{this.occupation}}</td>
            <td>
                <form action="/clients/delete" method="post">
                    <input type="hidden" name="id" value="{{this._id}}">
                    <input type="submit" value="Remove Permanently">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>No clients registered. <a href="/clients/create">Register Clients</a></p>
{{/if}}
